.subscribeButton {
	height: 3.5rem;
	width: 220px;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 2rem;
	border-radius: 3rem;
	border: 0;
	color: black;
	background: var(--yellow);
	font-weight: bold;
	transition: filter 0.2s;
	font-size: 1.25rem;

	&:hover {
		filter: brightness(0.8);
	}
}
